# ── Virtual Environment ───────────────────────────────────────────
.venv/
env/

# ── Python ────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo

# ── Jupyter ───────────────────────────────────────────────────────
.ipynb_checkpoints/

# ── Data ──────────────────────────────────────────────────────────
casf_dataset_api/download_dataset_scripts/data/
!casf_dataset_api/download_dataset_scripts/data/
!casf_dataset_api/download_dataset_scripts/data/*.py
explore/TemporalWikiDataset/data/
explore/WikiFactDiffDataset/data/
*.zip
!casf_dataset_api/download_dataset_scripts/data/TWiki_Probes.zip


# ── Other ─────────────────────────────────────────────────────────
registry.json
checkpoints/
.claude/
.env
dataset_utils/prompts/
